<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trainer</title>

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="resources/favicon.png" />
    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    />
    <!-- stylesheet -->
    <link rel="stylesheet" href="/stylesheet.css" />
  </head>
  <body class="bg-dark">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="/dashboard">Trainer</a>

            <a class="nav-link" href="/Analysis">Analysis</a>
            <a  class="nav-link active" aria-current="page" href="/connections">connections</a>
            <a class="nav-link" href="/inprogress">Todo</a>
            <a class="nav-link" href="/inprogress">Rating</a>
              
            
            <a class="nav-link" href="/logout">Logout</a>
          </div>
        </div>
        <%var character=userName.charAt(0)%>
        <div class="circle"><%=character%></div>
      </div>
    </nav>  
    <!-- section -->
    <section>
      <form action="/connections" method="POST" id="margintop" class="row justify-content-center marginable">
        <input type="text" class="col-lg-2" name="usersearch" placeholder="User Name" />
        <button type="submit" id="Go" class="btn btn-outline-success col-lg-1">
          Go
        </button>
      </form>



<% let userList=new Map();%>
<%  datas.forEach(function(eachdata){%>
<%    if(eachdata.id && userList.has(eachdata.id)){%>
<%        if(eachdata.accepted==="YES"){%>
 <%       var contained=userList.get(eachdata.id);%>
<%        userList.set(eachdata.id,contained+0);%>
  <%      }%>



<%    }else if(eachdata.id){%>
    <%      userList.set(eachdata.id,0);%>
  <%  }%>
<%})%>

<div style="margin-bottom: 30px;">
  <span class="label success">Trainer Users</span>
</div>
   <table class="table table-dark table-striped">
      <thead>
        <tr>
        
          <th scope="col">UserName</th>
        <th>problems Solved</th>  
        </tr>
      </thead>
      <tbody>
        <% userList.forEach(function(key,value){ %>
        <tr>
          <th scope="row"><%=value%></th>
          <th><%=key%> </th>
         
        </tr>
        <%})%>
      </tbody>
    </table>

    </section>
    <!-- footer -->
    <footer class="bg-success">
      <p>made with <span>&#10084;</span> for cf community</p>
    </footer>
    <!-- bootstrapjs -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- js -->
    <script src="index.js"></script>
  </body>
</html>
